altgraph==0.17.2
backports.entry-points-selectable==1.1.1
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
cryptography==36.0.0
dash==2.0.0
dash-core-components==2.0.0app.pycparser
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
distlib==0.3.3
filelock==3.4.0
Flask==2.0.2
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.1.0
identify==2.4.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
nodeenv==1.6.0
numpy==1.21.4
pandas==1.3.4
pefile==2021.9.3
Pillow==8.4.0
platformdirs==2.4.0
plotly==5.4.0
pre-commit==2.15.0
pycparser==2.21
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyMsgBox==1.0.9
pyngrok==5.1.0
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.26.0
six==1.16.0
tenacity==8.0.1
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==2.0.2
